<div class="container details-board">
  <div class="container">
    <div class="container-hr img-align">
      <img src="{{ imagePath }}" />
      <div class="name-tag">
        <h1>{{ user["name"] }}({{ user["username"] }})</h1>
      </div>
      <div class="container-vr buttons-holder">
        <a [routerLink]="['/edit-user', user['id']]">
          <button class="button"><i class="material-icons">edit</i></button>
        </a>
        <a (click)="deleteUser()">
          <button class="button"><i class="material-icons">delete</i></button>
        </a>
        <a [routerLink]="['/posts']" [queryParams]="{ userId: user['id'] }">
          <button class="button"><i class="material-icons">photo</i></button>
        </a>
      </div>
    </div>
  </div>
  <div class="container-hr">
    <div class="container-vr">
      <h2>Address</h2>
      <hr />
      <p><b>City:</b> {{ user.address.street }}</p>
      <p><b>City:</b> {{ user.address.city }}</p>
      <p><b>zipcode:</b> {{ user.address.zipcode }}</p>
    </div>
    <div class="container-vr">
      <h2>Contacts</h2>
      <hr />
      <p><b>Phone:</b> {{ user.phone }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Website:</b> {{ user.website }}</p>
    </div>
    <div class="container-vr">
      <h2>Company Details</h2>
      <hr />
      <p><b>Name:</b> {{ user.company.name }}</p>
      <p><b>Vision:</b> {{ user.company.catchPhrase }}</p>
      <p><b>Values:</b> {{ user.company.bs }}</p>
    </div>
  </div>
</div>
