.name-label {
  font-size: large;
}
.users-list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.post-button {
  font-size: medium;
  font-weight: bolder;
  color: #616161;
  background-color: transparent;
}
.top-ribbon {
  width: 100%;
  flex: auto;
}
.top-ribbon .search-box {
  float: right;
}
