<mat-toolbar fxLayoutGap="auto" class="top-ribbon">
  <h1>Users</h1>

  <form class="example-form" (ngSubmit)="searchHanler()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option['name']"
        >
          {{ option["name"] }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button value="submit" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="20px">
  <div *ngFor="let user of users" fxFlex="1 1 0">
    <mat-card fxFlexAlign="center">
      <mat-card-header>
        <img mat-card-avatar src="{{ imagePath + user['id'] + '/150/150' }}">
        <mat-card-title
          ><a
            [title]="user['name'] + ' details'"
            [routerLink]="['/users', user['id']]"
            class="name-label"
          >
            {{ user["name"] }}
          </a></mat-card-title
        >
        <mat-card-subtitle>{{user['company']['name']}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <p id="email">Email: {{ user["email"] }}</p>
        <p id="phone">Phone: {{ user["phone"] }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          class="post-button"
          [routerLink]="['/posts']"
          [queryParams]="{ userId: user['id'] }"
        >
          See posts
          <i class="material-icons">double_arrow</i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
