
  <div class = 'container-vr'>
    <h2>Users</h2>
    <div *ngFor="let user of users">

      <h3>
        <a  [title]="user['name'] + ' details'"
            [routerLink]="['/users', user['id']]"  >
          {{ user["name"] }}
        </a>
      </h3>
      <div class="container-hr">
        <p>
          Email: {{ user['email'] }}
          <br/>
          Phone: {{ user['phone'] }}
        </p>
        <a [routerLink]="['/posts', user['id']]"  >
          <button>
            See Posts
          </button>
        </a>
      </div>
    </div>
  </div>